{% extends 'usersbase.html' %}
{% load static %}


<!-- Profile - start -->
{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger col-4 mx-auto my-br-2 m-1" role="alert">
      {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors.0 }}</li>
      {% endfor %}
    </div>
  {% endif %}
  <div class="card col-4 mx-auto mt-3" style="border-radius: 2rem;">
    <div class="card-header d-flex align-items-center justify-content-between" style="border-top-left-radius: 2rem;border-top-right-radius: 2rem;">Войти<a
          href=""></a></div>

    <div class="card-body">
      <div class="container">
        <form action="{% url 'users:login' %}" method="post">
          {% csrf_token %}
          <div class="row d-flex align-items-center justify-content-between">
            <label style="font-size: .9rem; padding: 0;" pattern="+7[0-9]{10}">Телефон:</label>
            <div class="input-group m-0 p-0">
              <span class="input-group-text" id="basic-addon1">+7</span>
              <input type="number" name="username" class="form-control" placeholder="--- --- -- --" onkeypress="if(this.value.length&gt;9) return false;">
            </div>
            <label for="passw" style="font-size: .9rem; padding: 0; margin-top: .5rem;">Пароль:</label>
            <input name="password" type="password" class="form-control" id="passw">
            <a href="" style="font-size: .8rem; text-align: center; margin-top: .5rem;">Забыли пароль?</a>
            <a href="{% url 'users:registration' %}" class="mt-3 col-5 btn register-button white-buttn" style="border-radius: 2rem;">Регистрация</a>
            <button type="submit" href="#" class="mt-3 col-5 btn button-product red-buttn" style="border-radius: 2rem;">Войти</button>
          </div>
        </form>
      </div>


    </div>
  </div>
{% endblock %}
<!-- Profile - end -->
