{% extends 'usersbase.html' %}
{% load static %}


{% block content %}
  <div class="card col-6 mx-auto mt-3 my-br-2">
    <div class="card-header d-flex align-items-center justify-content-between">Ваши заказы<a href=""></a></div>

    <div class="card-body">
      <div class="container">

        <!-- Order - start -->
        {% for basket in baskets %}
          <div class="row mt-1">
            <div>
              <div class="h5 row">
                <div class="col-6"><a>Заказ №{{ basket.id }} </a></div>
                <div class="col-6" style="text-align:right"><a>{{ basket.creation_date }}</a></div>
              </div>
              <div class="row">
                <div class="h5" style="color: rgb(128,128,128)">{{ basket.total_price }} ₽</div>
                {% if basket.is_completed %}
                  <div class="h6" style="color: rgb(128,128,128)">Завершен</div>
                {% elif basket.is_delivered %}
                  <div class="h6" style="color: rgb(128,128,128)">Доставлен</div>
                {% elif basket.is_collected %}
                  <div class="h6" style="color: rgb(128,128,128)">Собран</div>
                {% elif basket.is_payed %}
                  <div class="h6" style="color: rgb(128,128,128)">Оплачен</div>
                {% endif %}
              </div>
              {% for item in basket.items.all %}
                {{ item.product }} x {{ item.quantity }},
              {% endfor %}
            </div>
          </div>
          <hr class="hr"/>
        {% endfor %}

        <!-- Order - end -->
      </div>
    </div>
    <!-- Profile - end -->
  </div>
{% endblock %}